.link_location_place{
  grid-area: link;
  box-sizing: border-box;
  padding: 13px 20px;
  width: 248px;
  height: 48px;
  margin: 0;
  background-color: #0278FE;
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  transition-property: background-color;
  transition-timing-function: ease-in;
  transition-delay: 0.13s;
  transition-duration: 0.3s;
}
.link_location_place:hover{
  background-color: #0063D2;
}
@media (max-width: 700px){
  .link_location_place{
    width: 288px;
    margin: 0 auto;
    grid-row: auto;
    grid-column: auto;
  }
}