.lead__title{
  max-width: 793px;
  margin: 90px auto 0 auto;
  padding: 0;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}
@media (max-width: 793px){
  .lead__title{
    width: 100%;
  }
}
@media (max-width: 768px){
  .lead__title{
    width: 93.5%;
  }
}
@media (max-width: 550px){
  .lead__title{
    max-width: 315px;
    margin-top: 50.15px;
    font-size: 44px;
    line-height: 48px;
  }
}
@media (max-width: 450px){
  .lead__title{
    max-width: 288px;
    margin-top: 50.15px;
    font-size: 40px;
    line-height: 44px;
  }
}
