.cover{
  position: relative;
  width: 92.5%;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 92px auto 0;
  padding: 0;
  background-image: url("../../images/cover-image.png");
  background-size: cover;
  background-position: center;
}

@media (max-width: 1080px){
  .cover{
    width: 100%;
    min-height: 746px;
    margin: 92px 0 0;
  }
}
@media (max-width: 550px){
  .cover{
    min-height: 254px;
    margin: 64px 0 0;
  }
}