.place__artist-title{
  text-align: start;
  margin: 0 0 8px 0;
  padding: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #AAAAAA;
}