.intro__main-text{
  width: calc(100% - 65px);
  margin: 32px auto 0 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  /*min-height: 156px;*/
}
@media (max-width: 650px){
  .intro__main-text{
    width: 100%;
  }
}