.footer{
  width: 165px;
  margin: 92px auto 24px;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
@media (max-width: 768px){
  .footer{
    margin-top: 88px;
  }
}
@media (max-width: 500px){
  .footer{
    margin-top: 64px;
  }
}